

.spinner {
    color: var(--cor-primaria);
    font-size: 3rem;
    animation: spin 1.4s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animaTexto {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
