

.nav-links {
    display: flex;
    gap: 50px;
}


.nav-links li {
    list-style: none;
}

.nav-links a {
    /* color: var(--cor-texto2); */
    /* as seções ainda não existem, por isso a cor da letra #a3a3a3 */
    color: #a3a3a3;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav-links a:hover{
        border-bottom: 2px solid var(--cor-texto2);

}

a.link-ia{
    background: var(--cor-primaria);
    color: var(--cor-texto2);
    padding: 8px 12px;
    border-radius: 10px;
}



.btn-menu-mobile{
    width: 40px;
    height: 40px;
   background: transparent;
   border: none;
   color: var(--cor-texto2);
   font-size: 2.5rem;
   cursor: pointer;
    display: none;
   
}


@media (max-width: 1080px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 100px;
        background: var(--cor-terciaria);
        border: solid 1px var(--cor-primaria);
        width: 250px;
        height: 400px;
        z-index: 2;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
    }

    .hide-menu{
        right: -300px;
        transition: right 0.3s ease-in-out;
    }

    .nav-links.show-menu {
        right: 10px;
        transition: right 0.3s ease-in-out;
    }

   

    
.nav-links a:hover{
        border-bottom: none;

}

 .btn-menu-mobile{
       display: block;
       color: var(--cor-texto2);
       position: absolute;
       top: 20px;
       right: 10px;
   }
}





