/* 


.item-menu:hover{
  
}

.item-menu svg{
    color: var(--cor-texto-secundario);
    margin-right: 8px;
    font-size: 1.5rem;
}

.item-menu.active{
 
}

.links-menu-sections{
    color: var(--cor-texto-secundario);
}

@media (max-width: 980px) {
 .nav-itens-menu{
    gap: 10px;
    max-width: 500px;
 }


 .item-menu{
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    border-radius: 18px;
}

.item-menu .links-menu-sections{
    font-size: .6rem;
 }




}

@media (max-width: 480px) {
    .nav-menu{
        padding: 0 10px;
    }
}

@media (max-width: 380px) {
    
.item-menu .links-menu-sections{
    font-size: .5rem;
 }


 .item-menu{
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 15px;
    padding: 2px;
}
} */