.nav-menu{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    overflow-x: auto;
    overflow-y: hidden;
     white-space: nowrap;
}

.nav-menu::-webkit-scrollbar {
  display: none;
}

.nav-itens-menu{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 30px;
    min-width: max-content;
    
}

.item-menu{
    font-size: 1rem;
    font-weight: 500;
    padding: 0 20px;
    height: var(--altura-btn_input);
    display: flex;
    align-items: center;
    cursor: pointer;
    background : var(--cor-secundaria);
    border: solid 1px var(--cor-primaria);
    border-radius: 30px;
    box-shadow: 1px 4px 6px #0000004d;

}

.item-menu:hover{
    background : var(--quarta-cor);
    color: var(--cor-texto2);
    transition: ease-in-out 0.3s;
}

.links-menu-sections svg{
    margin-right: 8px;
}

.links-menu-sections{
    color: var(--cor-texto1);
    display: flex;
    align-items: center;
}

@media (max-width: 880px) {
 
}