

.nav-links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}


.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--cor-texto2);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}


a.btn-link-ia{
    background: var(--quarta-cor);
    color: var(--cor-texto1);
    padding: 12px 20px;
    /* height: var(--altura-btn_input); */
    height: 40px;
    border-radius: 30px;
}

a.btn-link-ia:hover{
    background: var(--cor-secundaria);
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}



.btn-menu-mobile{
    width: 40px;
    height: 40px;
   background: transparent;
   border: none;
   color: var(--cor-texto2);
   font-size: 2.5rem;
   cursor: pointer;
    display: none;
   
}


@media (max-width: 1080px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 100px;
        background: var(--cor-terciaria);
        border: solid 1px var(--cor-primaria);
        width: 250px;
        height: 400px;
        z-index: 2;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
    }

    .hide-menu{
        right: -300px;
        transition: right 0.3s ease-in-out;
    }

    .nav-links.show-menu {
        right: 10px;
        transition: right 0.3s ease-in-out;
    }

   

    
.nav-links a:hover{
        border-bottom: none;

}

 .btn-menu-mobile{
       display: block;
       color: var(--cor-texto2);
   }
}








