/* ==========================================================================
   CARROSSEL CUSTOMIZADO (Sobremesas / Entradas)
   ========================================================================== */

.slide-primary{
    width: 100%;
    position: relative;
    background: transparent;
    z-index: 4;
}

.titulo-secao {
    padding-left: 10px;
}

.itens-slide-primary {
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 40px 10px; 
    overflow-x: auto; 
    scroll-behavior: smooth; 
    scroll-snap-type: x mandatory; 
}

/* Esconde a barra de rolagem nativa, mantendo a função */
.itens-slide-primary::-webkit-scrollbar {
    display: none;
}
.itens-slide-primary {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.itens-slide-primary > * {
    flex-shrink: 0;
    scroll-snap-align: start;
    width: calc(25% - 22.5px); 
}


/* ============================BOTÕES DE NAVEGAÇÃO==============================================*/
   .btn-slide {
    width: 50px;
    height: 50px;
    color: var(--cor-primaria);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: solid 1px var(--cor-primaria);
    position: absolute;
    border-radius: 50%;
    top: 55%; 
    transform: translateY(-50%);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    
}
/* ========================================================================== */ 

.prev { left: -15px; }
.next { right: -15px; }

@media (hover: hover) {
    .btn-slide:hover {
        background: var(--cor-primaria);
        color: #fff;
        transform: translateY(-50%) scale(1.1);
    }
}


@media (max-width: 992px) {
    .itens-slide-primary > * {
        width: 230px; 
    }
}

/* CELULARES (até 768px) */
@media (max-width: 768px) {
    .secao-entradas {
        padding: 20px 0; /* Tira o padding lateral para aproveitar mais a tela */
    }

    .itens-slide-primary {
        gap: 15px; 
        padding: 20px 10px; 
    }

 
    .itens-slide-primary > * {
     
        width: 176px; 
    }

  
    .btn-slide {
        display: none; /* Como a pessoa usa o dedo, arranca os botões fora! */
    }
}

@media (max-width: 480px) {
 
       
    /* .itens-slide-primary > * {
        width: calc(100% - 20px); 
    } */
}