.secao-entradas {
    height: 400px;
    position: relative;
    padding: 20px;
    background: #ece5e34d;
    box-shadow: var(--sombra-card);
    border-radius: 10px;
}

.itens-secao-entradas-slides {
    max-width: 1200px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    height: 300px;
    margin-top: 20px;
    gap: 40px;
}

.buttons-slides{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 120px;
}

.prev, .next{
    width: 60px;
    height: 60px;
    color: var(--cor-primaria);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cor-bg-destaque);
    border: solid 1px var(--cor-primaria);
    position: absolute;
    border-radius:50%;
    bottom: 40px;
    z-index: 12;
    
}

.prev{
    left: -40px;
    
}

.next{
    right: -2px;

}
/* ======================================== */