.skeleton-card {
  opacity: 0.8;
  max-width: 270px;
  height: 487px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.skeleton {
  background: linear-gradient(90deg, #e9e9e9 25%, #d1d1d1 50%, #e4e4e4 75%);
  background-size: 400% 100%;
  animation: shimmer 2s infinite;
  border-radius: 8px;
}

.skeleton-icon{
    color: #b3b3b36c;
    font-size: 5rem;
}


.skeleton-img {
  width: 100%;
  height: 300px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton-title {
  width: 70%;
  height: 25px;
  margin-bottom: 8px;
}

.skeleton-lines{
display: flex;
gap: 20px;
}

.skeleton-line {
  width: 80px;
  height: 20px;
}

.skeleton-btn{
    width: 80%;
    height: 45px;
}

@keyframes shimmer {
  0%   { background-position: -400px 0; }
  100% { background-position: 400px 0; }
}


@media (max-width: 520px) {
  .skeleton-card {
    height: 250px;
  }
  
}