.skeleton-card {
    width: 100%;
    max-width: 246px;
    height: 100%;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
      background-color: #e9e9e9;

}

.skeleton {
    background: linear-gradient(90deg, #c5c5c5 25%, #cacaca 50%, #d3d3d3 75%);
    background-size: 400% 100%;
    animation: shimmer 2s infinite;
    border-radius: 8px;
}


.skeleton-img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}


.skeleton-img-logo {
    opacity: .4;
    width: 100px;
    border-radius: 50%;
}

.skeleton-title {
    width: 70%;
    height: 20px;
    margin-bottom: 8px;
    left: 20px;
    bottom: 60px;
    z-index: 1;
    background-color: #222121!important;
}


.skeleton-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    
}

.skeleton-temp, .skeleton-dif{
  width: 50px;
  height: 16px;
  background-color: #0f0f0f;
    border-radius: 10px;
    z-index: 2;
  
}

.skeleton-dif{
  left: 150px;
}



@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: 400px 0;
    }
}
