.skeleton-card {
    width: 100%;
    max-width: 246px;
    height: 100%;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.skeleton {
    background: linear-gradient(90deg, #c5c5c5 25%, #cacaca 50%, #d3d3d3 75%);
    background-size: 400% 100%;
    animation: shimmer 2s infinite;
    border-radius: 8px;
}


.skeleton-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.skeleton-icon {
    color: #b3b3b36c;
    font-size: 6rem;
}

.skeleton-title {
    width: 70%;
    height: 25px;
    margin-bottom: 8px;
    position: absolute;
    left: 20px;
    bottom: 60px;
    z-index: 1;
    background-color: #222121!important;
}


.skeleton-info {
    width: 100%;
    
}

.skeleton-temp, .skeleton-dif{
  width: 50px;
  height: 16px;
  background-color: #0f0f0f;
  position: absolute;
    border-radius: 10px;
    z-index: 2;
    bottom: 40px;
    left: 10px;
}

.skeleton-dif{
  left: 150px;
}



@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: 400px 0;
    }
}

@media (max-width: 520px) {
    .skeleton-card {
        height: 250px;
    }
}
