/* classe padrão do botão */
.btn{
  background: var(--cor-primaria);
  color: var(--branco);
  box-shadow: var(--sombra-card);
  padding: 10px 20px ;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
    gap: 5px;

}

.btn span svg{
  font-size: 1.3rem;
}


.btn svg{
  font-size: 1.3rem;
}

/* classe a ser chamada quando o botão for secundário "menos atenção" */
.btn-secundario{
    background: var(--cinza-100);
    border: solid 1px var(--cinza-400);
    color: var(--cor-texto-secundario);
    transition: ease-in .2s;
}

.btn-secundario:hover{
    background: var(--cinza-200);
    border: solid 1px var(--cor-primaria);
}


.btn-primario:hover{
    background: var(--cor-primaria-hover);
}

.btn-danger{
  background: var(--vermelho);
}


.btn-p{
  padding: 0;
  width: 100%;
  height: 45px;
  width: 45px;
}

.btn-p svg{
  font-size: 1.3rem;
}