/* classe padrão do botão */
.btn {
    width: 100%;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.9rem;
    padding: 0 20px;
    height: var(--altura-btn_input);
    cursor: pointer;
    background: #f13f09;
    background: linear-gradient(
        179deg,
        rgb(248, 103, 58) 6%,
        rgba(245, 57, 10, 1) 70%
    );
    color: #ffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    box-shadow: var(--sombra-card);
}

.btn:hover {
     background: #f26033;
background: linear-gradient(2deg, rgba(252, 76, 22, 0.973) 30%, rgba(245, 57, 10, 1) 70%);
    transition: ease-in-out 0.3s;
}

.btn span svg {
    font-size: 1.3rem;
}

.btn svg {
    font-size: 1.3rem;
}

/* classe a ser chamada quando o botão for secundário "menos atenção" */
.btn-secundario {
    background: var(--cinza-100);
    border: solid 1px var(--cinza-400);
    color: var(--cor-texto-secundario);
    transition: ease-in 0.2s;
}

.btn-secundario:hover {
    background: var(--cinza-200);
    border: solid 1px var(--cor-primaria);
}

.btn-primario:hover {
    background: var(--cor-primaria-hover);
}

.btn-danger {
    background: var(--vermelho);
}

.btn-p {
    padding: 0;
    width: 100%;
    height: 45px;
    width: 45px;
}

.btn-p svg {
    font-size: 1.3rem;
}
