main.chat {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow-x: hidden;
}

.area-chat {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    padding: 15%;
    scrollbar-width: none;
}

.caixa-texto.user {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding-right: 40px;
}

.caixa-texto.ia {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    margin: 20px 0;
}

.caixa-texto {
    padding: 20px 0;
    position: relative;
    background: transparent !important;
    border: none !important;
    z-index: 1;
}

.mensagem {
    padding: 15px;
    box-shadow: 0 2px 4px #00000046;
}

.user {
    background-color: var(--quinta-cor);
    border-radius: 30px 0 30px 30px;
    border: solid 1px #fc4c07;
}

.ia {
    background-color: var(--quarta-cor);
    border-radius: 0 30px 30px 30px;
    border: solid 1px #b5b5b5;
}

.avatar-ia,
.avatar-user {
    filter: drop-shadow(2px 6px 20px #525252);
    width: 40px;
    position: absolute;
}

.avatar-ia {
    top: -40px;
    left: 0;
}

.avatar-user {
    bottom: 60px;
    right: 5px;
}

/* ------------------------------------- */
.loading-overlay {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1080px;
}

.loading-overlay p {
    color: var(--cor-primaria);
    font-size: 1.2rem;
    font-weight: 600;
    animation: animaTexto 1s alternate infinite;
}

.spinner {
    color: var(--cor-primaria);
    font-size: 3rem;
    animation: spin 1.4s linear infinite;
}

.hat-chef {
    color: var(--cor-primaria);
    font-size: 1.5rem;
    position: absolute;
    left: 262px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animaTexto {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* ---------------------------------------------------- */

@media (max-width: 880px) {
    .area-chat {
        padding: 70px 5px;
    }
}

@media (max-width: 768px) {
    

    .avatar {
        width: 50px;
        top: -40px;
        left: -40px;
    }
    /* .avatar-user {
        width: 50px;
        top: -50px;
        right: -15px;
    } */
}

@media (max-width: 480px) {
    .avatar {
        width: 40px;
        top: -40px;
        left: -20px;
    }
    /* .avatar-user {
        width: 40px;
        top: -40px;
        right: -20px;
    } */
}
