/*Classes adicionais do Formulario de cadastro */
.formulario-cadastro-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: #030303b6;
    padding: 10px;
    z-index: 100;
}

.corpo-formulario {
    display: flex;
    flex-direction: column;
    width: 380px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: var(--sombra-card);
    position: relative;
    z-index: 101;
}

.btn-fecha-form {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: var(--cor-primaria);
    font-size: 2.2rem;
    cursor: pointer;
}

.texto-btn-fechar {
    position: absolute;
    right: 50px;
    top: 15px;
    opacity: 0;
    transition: ease 0.3s;
}

.btn-fecha-form:hover + .texto-btn-fechar {
    opacity: 1;
}

.alternar-formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 5px;
}

.alternar-formulario button {
    background: transparent;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-texto-terciario);
}

.alternar-formulario button:hover {
    text-decoration: underline;
}
/* Fim Formulario de cadastro */

/* A sections é uma div que engloba todas as seções e é responsável por informar a posição de scroll. */
.sections {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
}

/* Início estilos da barra de rolagem */
.sections::-webkit-scrollbar {
    width: 8px;
}

.sections::-webkit-scrollbar-track {
    /* background: var(--cor-secundaria); */
    /* background: #ffebde; */
}

.sections::-webkit-scrollbar-thumb {
    background: var(--cor-primaria);

    /* truque para diminuir a altura da barra de rolagem */
    border-top: solid 30px transparent;
    border-bottom: solid 30px transparent;
    border-left: solid 2px transparent;
    border-right: solid 2px transparent;
    background-clip: padding-box;
}

/* Fim estilos da barra de rolagem */

.hero {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100vw;
    min-height: 650px;
    background-image: url(/imagem-hero.png);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.467);
    z-index: 1;
}

.content-hero {
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero h1 {
    width: 70%;
    min-width: 300px;
    color: var(--cinza-200);
    filter: drop-shadow(2px 5px 10px #1f1f1f);
    text-align: center;
    font-size: 2.5rem;
}

.title-serach-bar {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aberto {
    width: 30%;
    z-index: 5;
    transition: linear 0.5s;
}

.expandido {
    width: 40%;
    z-index: 5;
    transition: linear 0.5s;
}

.fechado {
    width: 0;
    padding: 0 !important;
    border: none;
    transition: linear 0.5s;
}

/* Busca */
.form-buscar {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    height: var(--altura-btn_input);
    border: solid 1px var(--cor-primaria);
    box-shadow: 1px 4px 6px #0000004d;
    z-index: 2;
}

.input-barra-busca {
    flex: 1;
    width: 80%;
    height: var(--altura-btn_input);
    border: none;
    background: transparent;
    border-radius: 30px 0 0 30px;
    padding: 0 15px;
    font-size: 1rem;
}

.input-barra-busca:focus-visible {
    outline: var(--cor-primaria);
    border: solid 2px var(--cor-primaria);
    font-size: 1.1rem;
}

.btn-buscar {
    width: 60px;
    height: 100%;
    background: var(--laranja-50);
    color: var(--preto-700);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 0 30px 30px 0;
}

.btn-buscar:hover {
    background: var(--cor-secundaria-hover);
}

/* Fim busca */

.nav-menu {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 30px;
}

.nav-itens-menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.nav-itens-menu li {
    list-style: none;
}

/* ===================== Inicio seção pratos principal======================= */

.prato-principal {
    width: 100%;
    max-width: 1200px;
    box-shadow: var(--sombra-card);
    border-radius: 10px;
    padding: 40px;
    
}

.prato-principal h2{
    margin-bottom: 20px;
}

.cards-prato-principal {
    width: 100%;
    height: 500px;
    display: flex;
    /* gap: 40px; */
}

.card-destaque {
    width: 310px;
    height: 500px;
    box-shadow: var(--sombra-card);
    border-radius: 10px;
    background: #fff;
}

.card-destaque img {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.titulo-card-destaque{
    text-overflow: ellipsis;
}

.info-destaque {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 20px;
}

.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.btn-card-destaque{
    width: 100%;
    height: 45px;
    background: var(--cor-primaria);
    color: #ffff;
}

.coluna-pequenos {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 0 40px;
}

.card-mini {
    width: 42%;
    min-width: 230px;
    height: 120px;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: var(--sombra-card);
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}

.card-mini img {
    width: 120px;
    height: 100%;
    border-radius: 10px ;
    object-fit: cover;
}

.titulo-card-mini{
    font-size: .9rem;
}

.btn-ver-outras{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.btn-ver-outras:hover{
    background-color: #e0e0e0;
 
    border-radius: 30px;
}

/* =====================Fim seção pratos principal======================= */

.mensagem-pratos-do-dia {
    max-width: 400px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--cor-primaria);
}

.titulo-secao {
    color: var(--cor-texto-secundario);
    width: 100%;
    text-align: start;
}

.cards_card {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 260px;
    /* justify-items: center;; */
    padding: 2rem;
    gap: 50px;
}

/* seção circular */
.circulos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.hiden-modal {
    position: absolute;
    right: 200px;
    transition: ease-in-out 0.5s;
}

/* Início botão ia fim da página */
.campo-chama-chefinho {
    position: fixed;
    right: 90px;
    bottom: 50px;
    padding: 10px;
    z-index: 10;
}

.campo-chama-chefinho button {
    width: 100px;
    background: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -80px;
    bottom: 0;
    animation: pulsar 1.8s infinite;
}

/* EFEITO PULSO */
@keyframes pulsar {
    0% {
        box-shadow: 0 0 0 0 rgba(243, 82, 33, 0.7);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(243, 93, 33, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(243, 65, 33, 0);
    }
}

.campo-chama-chefinho button img {
    width: 100%;
    filter: drop-shadow(2px 6px 10px #525252);
    object-fit: cover;
}

.fala-do-chef {
    max-width: 290px;
    min-width: 240px;
    background: var(--cor-bg-destaque);
    padding: 10px;
    border-radius: 30px 30px 0 30px;
    box-shadow: var(--sombra-card);
    border: solid 1px var(--cor-primaria);
    visibility: hidden;
    position: absolute;
    bottom: 90px;
    right: -10px;
}

.fala-do-chef.ativa {
    visibility: visible;
}

@media (min-width: 780px) {
    .campo-chama-chefinho button:hover + .fala-do-chef {
        visibility: visible;
    }

  
}

.fala-do-chef p {
    color: var(--cor-texto-secundario);
    font-size: 1rem;
}

/* Fim botão ia fim da página */

footer {
    width: 100vw;
    height: 150px;
    background: var(--cor-primaria);
    margin-top: 100px;
}

@media (max-width: 1380px) {
    .campo-chama-chefinho button {
        width: 80px;
    }
}

@media (max-width: 880px) {
    .hero {
        max-height: 450px;
    }
    .hero h1 {
        font-size: 2rem;
    }

    .nav-itens-menu {
        gap: 10px;
    }

    .aberto {
        width: 100%;
    }

    .sections {
        width: 0;
        padding: 0 !important;
        border: none;
    }

    .botao-expandir-chef {
        visibility: hidden;
    }
}

@media (max-width: 780px) {
    .cards_card {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

      .prato-principal{
        padding: 10px;
        height: 380px;
    }


.card-destaque {
    height: 300px;
   
}
.btn-card-destaque{
    height: 40px;
}

.card-destaque img{
height: 50%;
}

.titulo-card-destaque{
font-size: .9rem;
}

.info-destaque{
    padding: 10px;
    height: 160px;
}

.info{
    padding: 10px 0;
}

.coluna-pequenos{
    width: 60%;
    padding: 0 10px;
    height: 250px;
    gap:  12px ;
   
}

.card-mini{
    width: 100%;
    min-width: none;
    height: 70px;
    }





.card-mini img {
    width: 120px;
    height: 100%;
    border-radius: 10px ;
    object-fit: cover;
}

.titulo-card-mini{
    font-size: .8rem;
}



    .campo-chama-chefinho button {
        width: 60px;
    }

    .fala-do-chef {
        bottom: 65px;
        right: -33px;
    }
}

.nav-itens-menu button {
    font-size: 0.9rem;
}

@media (max-width: 680px) {
    .nav-itens-menu button {
        min-width: 70px;
        max-width: 70px;
        height: 65px;
        flex-direction: column;
        justify-content: center;
        padding: 4px;
        border-radius: 18px;
        font-size: 0.7rem;
    }
}

@media (max-width: 620px) {
    .cards_card {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    /* =====================carrolsel======================= */
}

@media (max-width: 580px) {
    .card-slide {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column-reverse;
    }

    .card-slide img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .hero {
        height: 50vh;
    }

    .content-hero {
        gap: 20px;
        margin-top: 100px;
    }

    .hero h1 {
        font-size: 1.7rem;
    }

    .nav-menu {
        padding: 0 10px;
    }

    .cards_card {
        grid-auto-rows: 200px;
        padding: 18px;
    }

    
.titulo-card-mini{
    font-size: .7rem;
}
}

@media (max-width: 380px) {
    .item-menu {
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        border-radius: 15px;
        padding: 2px;
    }
}

/* ================================== */
