.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100vw;
    overflow-x: hidden;
    scrollbar-width: none;
    padding: 0 10px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70vh;
    background-image: url(/imagem-hero.png);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.467);
    z-index: 1;
}

.hero h1 {
    width: 70%;
    min-width: 300px;
    color: var(--cinza-200);
    filter: drop-shadow(2px 5px 10px #1f1f1f);
    text-align: center;
    font-size: 2.5rem;
    top: 150px;
    left: 40px;
    z-index: 2;
}

/* Busca */
.form-buscar {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    height: var(--altura-btn_input);
    border: solid 1px var(--cor-primaria);
    box-shadow: 1px 4px 6px #0000004d;
}

.input-barra-busca {
    flex: 1;
    width: 80%;
    height: var(--altura-btn_input);
    border: none;
    background: transparent;
    border-radius: 30px 0 0 30px;
    padding: 0  15px;
    font-size: 1rem;
}

.input-barra-busca:focus-visible {
    outline: var(--cor-primaria);
    font-size: 1.2rem;
}

.btn-buscar {
    width: 50px;
    height: 100%;
    background: var(--cor-primaria);
    color: var(--cor-texto2);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 0 30px 30px 0;
}

/* Fim busca */

.pratos-do-dia {
    width: 100vw;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensagem-pratos-do-dia {
    max-width: 400px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--cor-primaria);
}

.titulo-secao {
    text-align: center;
    color: var(--cor-texto-secundario);
}

.cards_card {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 260px;
    justify-items: center;
    padding: 2rem;
    gap: 50px;
    border-top: solid 2px var(--cor-primaria);
}

.hiden-modal {
    position: absolute;
    right: 200px;
    transition: ease-in-out 0.5s;
}

footer {
    width: 100vw;
    height: 150px;
    background: var(--cor-primaria);
    margin-top: 100px;
}


@media (max-width: 880px) {

    .hero{
        max-height:400px ;
    }
    .hero h1{
        font-size: 2rem;
    }
    
}

@media (max-width: 780px){
    .cards_card{
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }
    
   
}

@media (max-width: 620px) {

    .cards_card {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .hero {
        height: 50vh;
    }

    .hero h1{
        font-size: 1.7rem;
    }

    .cards_card{
        grid-auto-rows: 200px;
        padding: 18px;
    }
}
