.sections {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scrollbar-width: none;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 120px;
    width: 100vw;
    height: 80vh;
    background-image: url(/imagem-hero.png);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.conteudo-direito {
    width: 30%;
}

.conteudo-direito img {
    width: 100%;
}

.conteudo-esquerdo {
    margin-top: 250px;
    width: 50vw;
    height: 500px;
    padding-left: 3%;
}

.conteudo-esquerdo h1 {
    font-size: 3rem;
    color: var(--cor-texto1);
}

.pratos-do-dia {
    width: 100vw;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pratos-do-dia p {
    max-width: 400px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--cor-primaria);
}

.titulo-secao {
    text-align: center;
        color: var(--cor-texto1);

}

.cards_card {
    width: 100%;
    max-width: 1200px ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     grid-auto-rows: 260px;
    justify-content: center;
    padding: 2rem;
    gap: 50px;
    border-top: solid 2px var(--cor-primaria);
}

.hiden-modal {
    position: absolute;
    right: 200px;
    transition: ease-in-out 0.5s;
}

footer {
    width: 100vw;
    height: 150px;
    background: var(--cor-primaria);
    margin-top: 100px;
}



@media (max-width: 620px) {
    .hero {
        padding-top: 100px;
        background-size: contain;
    }

  

    .cards_card {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}


@media (max-width: 480px) {
    .hero{
        height: 50vh;
    }
}
