.sidbar {
    height: 100vh;
    background: var(--quinta-cor);
    padding: 10px;
    border-right: solid 4px var(--cor-primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidbar-open {
    width: 250px;
    transition: ease-out 0.3s;
}

.sidbar-close {
    width: 60px;
    transition: ease-out 0.3s;
}

.btn-open-sidbar {
    margin: 40px 0 40px 0;
}

.btn-open-sidbar,
.btn-nova-receita,
.historico,
.links {
    background: transparent;
    border: none;
    color: var(--cor-texto1);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.links {
    margin-bottom: 15px;
}

.list-sid-bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.historico {
    margin-top: 30px;
}

.icon-nova-receita,
.icon-historico,
.icon-home,
.btn-open-sidbar {
    font-size: 1.6rem;
}

.lista-historico {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.logo-sidbar {
    width: 70px;
    height: 100%;
    max-height: 80px;
}

.logo-sidbar img {
    width: 100%;
    filter: drop-shadow(1px 3px 10px var(--cor-primaria));
}

@media (max-width: 880px) {
.sidbar{
    position: absolute;
    z-index: 6;
}

    .sidbar-close {
        left: -100px;
    }

    .btn-open-sidbar {
        position: relative;
        left: 120px;
        top: -100px;
    }
}
