.mensagem-anuncio-IA {
    color: var(--cor-texto2);
    background: var(--quarta-cor);
    border: solid 1px var(--cor-primaria);
    border-radius: 10px;
    width: 300px;
    height: 180px;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    position: absolute;
    right: 10px;
    gap: 10px;
    z-index: 4;
    margin-top: 5px;
}

.msg-balao-IA {
    width: 240px;
    height: 140px;
    background: var(--quinta-cor);
    border: solid 1px var(--cor-primaria);
    color: var(--cor-texto1);
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    border-radius: 40px 40px 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


@keyframes anima {
    0% {
       transform: scale(1);
    }
    50%{

        transform: scale(.8);
    }
    100% {
        transform: scale(1.2);
       
    }
} 


.img-robo {
    width: 60px !important;
    object-fit: contain;
    filter: drop-shadow(2px 3px 10px #383838);
}

.show-anunc-iA {
    top: 150px;
    transition: ease-in-out 0.5s;
}

.hiden-anunc-IA {
    top: -180px;
    transition: ease-in-out 0.5s;
}

.link-anunc-IA {
    text-decoration: none;
    background: var(--cor-primaria);
    color: var(--cor-texto2);
    padding: 6px 20px;
    border-radius: 10px;
    animation: anima 2s infinite ease-in-out;
}
