/* 
.mensagem-anuncio-IA{
    width: 300px;
    background: #000;
    position: relative;
}


.show-anunc-iA {
    bottom: 300px;
    left: 20px;
    transition: ease-in-out 0.5s;
}

.hiden-anunc-IA {
    bottom: 300px;
    left: -500px;
    transition: ease-in-out 0.5s;
}

.btn-img-ia{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    animation: anima 1.5s infinite;
    position: absolute;
    bottom: -100px;
}

.btn-img-ia img{
    width: 80%;
    object-fit: cover;
}

.balao-IA {
    width: 220px;
    height: 100px;
    background: var(--cor-bg-destaque);
    padding: 10px;
    border-radius: 30px 30px 30px 0;
    border: solid 1px var(--cor-primaria);
    box-shadow: 1px 4px 6px #0000004d;
    position: absolute;
    right: 0;
    top: -100px;
}

@keyframes anima {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}



@media (max-width: 800px) {
   

  
} */
