.mensagem-anuncio-IA {
    color: var(--cor-texto2);
    background: var(--quarta-cor);
    border: solid 1px var(--cor-primaria);
    border-radius: 10px;
    width: 300px;
    height: 140px;
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    position: absolute;
    transition: ease-in-out 0.5s;
    z-index: 4;
    margin-top: 5px;
}

.msg-balao-IA {
    height: 110px;
    color: var(--cor-texto1);
    font-size: 1rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

@keyframes anima {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.img-robo {
    width: 60px !important;
    object-fit: contain;
    filter: drop-shadow(2px 3px 10px #383838);
}

.show-anunc-iA {
    bottom: 10px;
    left: 10px;
    transition: ease-in-out 0.5s;
}

.hiden-anunc-IA {
    left: -500px;
    transition: ease-in-out 0.5s;
}

.link-anunc-IA {
    text-decoration: none;
    background: var(--cor-primaria);
    color: var(--cor-texto2);
    padding: 6px 20px;
    border-radius: 30px;
    animation: anima 2s infinite ease-in-out;
}

@media (max-width: 800px) {
    .mensagem-anuncio-IA {
        width: 200px;
        height: 105px;
        right: 5px;
    }

    .msg-balao-IA {
        height: 80px;
        font-size: 0.8rem;
        border-radius: 0 30px 30px 30px;
    }

    .img-robo {
        width: 40px !important;
    }
}
