.formulario{
width: 90%;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
}

.campos-entrada{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titulo-form{
text-align: center;
}

.desc-form{
    margin:10px 0 30px 0;
}



.botoes-finish{
     width: 600px;
    display: flex;
    justify-content: space-around;
    z-index: 2;
    margin-top: 40px;
}