.formulario{
width: 90%;
display: flex;
flex-direction: column;
align-items: center;
}

.campos-entrada{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titulo-form{
text-align: center;
}

.salva-anuncio{
    background: var(--cinza-50);
    border: solid 1px var(--cinza-400);
    color: var(--cor-texto-secundario);
    transition: ease-in .2s;
}

.salva-anuncio:hover{
    background: var(--cinza-200);
    border: solid 1px var(--cor-primaria);
}


.salva-receita:hover{
    background: var(--cor-primaria-hover);
}

