.navlink {
    width: 100%;
    max-width: 320px;
    height: 100%;
}
.card {
    width: 100%;
    height: 100%;
    box-shadow: var(--sombra-card);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.452) 0%,
        rgba(250, 250, 250, 0) 100%
    );
    z-index: 1;
}

.img-card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 1px 2px 20px #000;
}

.info-card {
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

.info-card h3 {
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--cor-texto-suave);
}

.temp-porcoes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.icon-info {
    display: flex;
    align-items: center;
}

.dif {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
}

.btn-favorito {
    /* background: var(--cinza-100); */
    background: var(--cinza-100);
    padding: 4px;
    display: flex;
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--laranja-500);
    cursor: pointer;
    z-index: 4;
}

.div-btn-link a {
    text-decoration: none;
    color: var(--cinza-100);
}

.div-btn-link {
    background: var(--cor-primaria);
    border-radius: 30px;
    transition: ease-in 0.2s;
    width: 100%;
    height: var(--altura-btn_input);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .card {
        /* height: 200px; */
    }
}

@media (max-width: 420px) {
    .info-card h3 {
        font-size: 1rem;
    }
    /*     
.dif,
.temp {
    padding: 1px 6px;
} */
}
