.card{
    max-width: 250px;
    min-width: 200px;
    min-height: 350px;
    box-shadow: 1px 2px 8px;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;

}

.img-card{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.img-card:hover{
    transform: scale(1.05);
}

.info-card{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.temp-rend{
    display: flex;
    gap: 40px;
    width: 100%;
    margin-top: 20px;
    color: var(--cor-texto1);
    font-weight: 500;
}

.card a{
    text-decoration: none;
    color: var(--cor-texto2);
}

.div-btn-link{
    background: var(--cor-primaria);
    border-radius: 10px;
    transition: ease-in .2s;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    
}

.div-btn-link:hover{
    border: solid 1px var(--cor-primaria);
    background: var(--quinta-cor);
    color: var(--cor-primaria);
    font-weight: 500;
}

@media (max-width: 520px) {
    .card{
        height: 250px;
    }
}