.navlink{
    width: 100%;
    max-width: 246px;
        height: 100%;

}
.card {
    width: 100%;
    height: 100%;
    box-shadow: var(--sombra-card);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(250, 250, 250, 0) 100%
    );
    z-index: 1;
}

.img-card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.img-card:hover {
    transform: scale(1.05);
}

.info-card {
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

.info-card h3 {
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--cor-texto-suave);
}

.temp-dif {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.dif,
.temp {
    background: var(--cinza-100);
    padding: 2px 8px;
    border-radius: 10px;
}

.p-temp,
.p-dif {
    font-size: 0.8rem;
    color: var(--preto-700);
    font-weight: 500;
}

.btn-favorito {
    /* background: var(--cinza-100); */
    background:var(--cinza-100);
    padding: 4px;
    display: flex;
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--laranja-500);
    cursor: pointer;
    z-index: 10;
}

.div-btn-link a {
    text-decoration: none;
    color: var(--cinza-100);
}

.div-btn-link {
    background: var(--cor-primaria);
    border-radius: 30px;
    transition: ease-in 0.2s;
    width: 100%;
    height: var(--altura-btn_input);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}
/* 
.div-btn-link:hover{
    border: solid 1px var(--cor-primaria);
    background: var(--cor-secundaria);
    font-weight: 500;
} */

@media (max-width: 480px) {
    .card{
        /* height: 200px; */
    }
}

@media (max-width: 420px){

    .info-card h3{
        font-size: 1rem;
    }
    
.dif,
.temp {
    padding: 1px 6px;
}

.p-temp,
.p-dif {
    font-size: 0.6rem;
   
}
}
