/* ==========================================
   CONTAINER PRINCIPAL (Prepara para os Anúncios)
========================================== */
.container-detalhes {
    /* Limita a largura a 800px. Em monitores grandes, vai sobrar um 
       espação em branco nas laterais, perfeito para futuros banners! */
    max-width: 800px; 
    
    /* Isso é o que centraliza a caixa inteira na tela */
    margin: 140px auto; 
    
    padding: 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.container-detalhes h1 {
    font-size: 2.5rem;
    color: #ff956b; /* Uma cor quente combinando com comida */
    text-align: center;
    margin-bottom: 10px;
}

/* loading */
.spinner-detalhes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* fim loading */

.descricao {
    text-align: center;
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 30px;
    font-style: italic;
}

/* ==========================================
   EFEITO DA IMAGEM E INFO SOBREPOSTA
========================================== */
.imagem-container {
    position: relative; /* Transforma a caixa num "ponto de referência" */
    width: 100%;
    border-radius: 16px;
    overflow: hidden; /* Corta as pontas quadradas da imagem */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); /* Sombra elegante */
    margin-bottom: 40px;
}

.imagem-destaque {
    width: 100%;
    height: 450px; 
    object-fit: cover; 
    display: block;
}

.infos {
    position: absolute; 
    bottom: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(360deg,rgba(0, 0, 0, 0.685) 51%, rgba(88, 88, 88, 0) 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;


}

/* ==========================================
   SESSÕES DE TEXTO (Ingredientes e Preparo)
========================================== */
.sessao-ingredientes, 
.sessao-preparo {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.sessao-ingredientes h3, 
.sessao-preparo h3 {
    color: #ff956b;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffdece;
    padding-bottom: 10px;
}

/* Arrumando a lista de ingredientes */
.sessao-ingredientes ul {
    list-style-type: none; /* Tira as bolinhas padrão */
    padding: 0;
}

.sessao-ingredientes li {
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    font-size: 1.1rem;
}

/* Tira a linha do último ingrediente para ficar bonito */
.sessao-ingredientes li:last-child {
    border-bottom: none; 
}

/* Arrumando o texto de preparo */
.sessao-preparo p {
    font-size: 1.1rem;
    line-height: 1.8; /* Aumenta o espaço entre as linhas para facilitar a leitura */
    color: #444;
}