

.titulo-secao {
    color: var(--cor-texto-secundario);
    width: 100%;
    text-align: start;
}

.cards-entradas {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background: transparent;
    flex-wrap: wrap;
    gap: 20px;
 
}
/* 
@media (max-width: 768px) {
   .cards-entradas{
    gap: 10px;
    padding: 10px;
   }
} */