.modal-alerta{
    width: 300px;
    height: 100px;
    border: solid 2px var(--cor-primaria);
    border-radius: 10px;
    box-shadow: 1px 2px 10px #a5a5a5;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.2rem;
    position: absolute;
    top: -100px;
    left: 40%;
   

}