.modal-alerta{
    background: var(--quarta-cor);
    width: 200px;
    height: 100px;
    border: solid 1px var(--cor-primaria);
    border-radius: 10px;
    box-shadow: 1px 2px 10px #a5a5a5;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 1rem;
    position: absolute;
    top: -260px;
    right: 10px;
}

.modal-alerta p{
    color: var(--cor-texto1);
    text-align: center;
}