.modal {
    width: 100%;
    max-width: 980px;
    max-height: 90vh;
    background: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 40px 40px ;
     border-radius: 10px;
    position: absolute;
    overflow-y: auto;
     scroll-behavior: smooth;
     scrollbar-width: none;
    z-index: 3;
}

.btn-fecha-modal-admin {
    background: var(--cinza-50);
    box-shadow: var(--sombra-card);
    border: none;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
    transition: ease-in 0.2s;
}

.msg-fechar-modal {
    font-size: .8rem;
    position: absolute;
    right: 60px;
    top: 14px;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    box-shadow: var(--sombra-card);
    border: solid 1px var(--cinza-400);
    opacity: 0;
    visibility: hidden;
    transition: ease-in 0.2s;
}

.btn-fecha-modal-admin:hover .msg-fechar-modal,
.btn-fecha-modal-admin:hover {
    background: var(--cinza-100);
    opacity: 1;
    visibility: visible;
}
