.info_rapida{
    background: var(--cinza-100);
    padding: 2px 8px;
    border-radius: 30px;
    min-width: 72px;
    max-width: 120px;
     display: flex;
    align-items: center;
    justify-content: center;
     font-size: 0.9rem;
    color: var(--preto-700);
    font-weight: 500;
    gap: 5px;
}

.icon-info{
  font-size: 1.3rem;
}

@media (max-width: 768px) {
    .info_rapida {
        font-size: 0.8rem;
        min-width: 60px;
        max-width: 110px;
        padding: 3px 4px;
    }

    .icon-info {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
      .info_rapida {
        font-size: 0.7rem;
        max-width: 90px;
        padding: 2px 4px;
        gap: 2px;
    }

    .icon-info {
        font-size: 0.8rem;
    }
}

@media (max-width: 360px) {
    .info_rapida {
        font-size: 0.6rem;
        min-width: 50px;
        max-width: 80px;
        padding: 1px 4px;
        gap: 2px;
    }

    .icon-info {
        font-size: 0.8rem;
    }
}