.header {
    width: 97%;
    border-radius: 70px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;

    box-shadow: 0 4px 10px var(--preto-700);
    z-index: 6;

    background: rgba(253, 53, 3, 0.116);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.4);
}

.nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.menu {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.menu li {
    list-style: none;
}

.hidden-menu {
    position: absolute;
    right: -700px;
    bottom: 300px;
    transition: ease .9s;
    opacity: .1;
   
}

.show-menu-mobile {
    position: absolute;
    bottom: -230px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding: 30px;
    border-radius: 10px;
    background: var(--cor-primaria);
    transition: ease .9s;
}

.link {
    color: var(--cor-texto-inverso);
    width: 110px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition:
        color 0.4s ease,
        transform 0.4s ease;
}

.btn-login {
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    min-width: 70px;
    min-height: 70px;
}

.btn-login svg {
    font-size: 1.6rem;
}

.btn-menu {
    font-size: 2.2rem;
    background: transparent;
    border: none;
    width: 38px;
    height: 38px;
    display: none;
}

.btn-login,
.btn-menu {
    color: var(--cor-texto-inverso);
    transition:
        color 0.3s ease,
        transform 0.2s ease;
}

@media (hover: hover) {
    .menu li:hover .link {
        background: var(--cor-primaria);
        font-weight: 500;
    }

    .btn-login:hover {
        color: var(--cor-primaria);
    }
}

@media (max-width: 980px) {
    .menu-descktop {
        display: none;
    }

    .btn-menu {
        display: block;
    }
}

@media (max-width: 780px) {
    .nav-header {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1fr;
        justify-items: center;
        gap: 5px;
    }
}

@media (max-width: 680px) {
    .header {
        border-radius: 20px;
        padding: 10px;
    }
    .nav-header {
        grid-template-columns: 1fr 2fr 1fr;
        gap: 5px;
    }

    .btn-login {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: end;
    }

    .btn-menu {
        justify-self: center;
        grid-row: 1 / 2;
        grid-column: 3 / -1;
    }

    .barra-busca {
        grid-column: 1 / -1;
    }
}
