.header {
    width: 100%;
    height: 100px;
    background: #ee6307;
    position: fixed;
    z-index: 5;
}

.header-expandido {
    height: 180px;
    transition: 0.3s ease-in-out;
}

.btn-abrir-busca {
    display: flex;
    align-items: center;
        justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2.4rem;
    color: #fff;
}

.logo-btn_search-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-btn_search-menu {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}


nav {
    width: 100%;
    height: 100%;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-home {
    width: 80px;
}

.logo-home img {
    width: 100%;
}

.form-buscar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 420px;
    height: var(--altura-btn_input);
}

.input-barra-busca {
    flex: 1;
    width: 80%;
    height: var(--altura-btn_input);
    border: none;
    background: #ffff;
    border-radius: 30px 0 0 30px;
    padding: 0  10px;
    font-size: 1rem;
}

.input-barra-busca:focus-visible {
    background: var(--cor-secundaria);
    outline: none;
}

.btn-buscar {
    width: 50px;
    height: 100%;
    color: var(--cor-primaria);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 0 30px 30px 0;
}

@media (max-width: 1080px) {
    .div-btn_search-menu{
        justify-content: end;
        gap: 20px;
    }
}

@media (max-width: 430px) {
}
