.header li{
    list-style: none;
}

.header {
    width: 100%;
    height: 100px;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    border-bottom: solid 2px var(--cor-primaria);
    background: #ffffff;
    box-shadow: 0 4px 10px var(--preto-700);
}
.nav-links-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.link-home-link-ia{
    width: 50%;
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
}

.links_home {
    background: transparent;
    border: none;
    color: #353534; 
  font-weight: 500; 
  font-size: 1em; 
  text-decoration: none; 
  transition: color 0.3s ease;
}

.btn-links-header {
    font-size: 1em;
    background: var(--cor-bg-destaque);
    color: var(--cor-texto-secundario);
    border: solid 1px var(--cor-primaria);
    padding: 12px 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    font-weight: 500;
}



.btn-links-header:hover {
    background: var(--cor-secundaria);
    transition:
        0.3s ease-in-out,
        color 0.3s ease-in-out;
}

.btn-links-header svg{
    margin-right: 2px;
    font-size: 1.2rem;
}

.links-header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.logo-header {
    width: 100px;
}

.logo-header img {
    width: 100%;
}

@media (max-width: 1080px) {
    .div-btn_search-menu {
        justify-content: end;
        gap: 20px;
    }

    .formulario-link-ia {
        width: 80%;
    }
}
@media (max-width: 980px) {
    .btn-links-header {
        padding: 8px 16px;
    }

    
}


@media (max-width: 880px) {
    .botao-expandir-chef {
        display: none;
    }

    
 }

  

@media (max-width: 768px) {
   .logo-header{
width: 60px;
   }



.link-home-link-ia{
width: 70%;
}

 
}

@media (max-width: 580px) {
.header {
    /* height: 80px; */
}


.link-home-link-ia{
width: 75%;
font-size: 0.8rem;
}


}

@media (max-width: 420px) {
    .logo-home {
        width: 80px;
    }

    .btn-links-header {
        font-size: 0.8rem;
    }
}
