.header {
    width: 100%;
    height: 110px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    border-bottom: solid 2px var(--laranja-450);
    background: rgba(252, 235, 227, 0.315);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.nav-links-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.links_header {
    text-decoration: none;
    color: var(--cor-texto-secundario);
    font-size: 1rem;
    font-weight: 500;
}

.btn-links-header {
    background: var(--cor-bg-secundaria);
    color: var(--cor-texto-secundario);
    border: solid 1px var(--cor-primaria);
    padding: 12px 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
}

.btn-links-header:hover {
    background: var(--cor-secundaria);
    transition:
        0.3s ease-in-out,
        color 0.3s ease-in-out;
}


.links-header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.logo-header {
    width: 120px;
}

.logo-header img {
    width: 100%;
}

@media (max-width: 1080px) {
    .div-btn_search-menu {
        justify-content: end;
        gap: 20px;
    }

    .formulario-link-ia {
        width: 80%;
    }
}
@media (max-width: 980px) {
    .btn-links-header {
        font-size: 0.8rem;
        padding: 8px 16px;
    }
}

@media (max-width: 420px) {
    .logo-home {
        width: 80px;
    }

    .btn-links-header {
        font-size: 0.7rem;
    }
}
