.header {
    width: 100%;
    height: 100px;
    padding: 20px;
    position: absolute;
    z-index: 5;
}



.btn-link-ia{
    background: var(--quarta-cor);
    color: var(--cor-texto1);
    padding: 12px 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
}

.btn-link-ia:hover{
    background: var(--cor-secundaria);
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}



.logo-btn-ia {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.link-ia {
    height: 100%;
    display: flex;
    align-items: center;
}



.logo-home {
    width: 120px;
}

.logo-home img {
    width: 100%;
}


@media (max-width: 1080px) {
    .div-btn_search-menu{
        justify-content: end;
        gap: 20px;
    }

    .formulario-link-ia{
        width: 80%;
    }
}
@media (max-width: 980px) {
    .btn-link-ia{
        font-size: 0.8rem;
        padding: 8px 16px;
    }
}

@media (max-width: 420px) {
    .logo-home{
        width: 80px;
    }

       .btn-link-ia{
        font-size: 0.7rem;
    }
}
