.header {
    width: 100%;
    height: 110px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    border-bottom: solid 2px var(--laranja-450);
    background: rgba(252, 235, 227, 0.315);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.nav-links-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.link-home-link-ia{
display: flex;
align-items: center;
gap: 20px;
}

.links_home {
    color: #ffffff; 
  font-weight: 600; 
  font-size: 1.1rem; 
  text-decoration: none; 
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); /* Isso é o que vai salvar a leitura! */
  transition: color 0.3s ease;
}

.btn-links-header {
    background: var(--cor-bg-secundaria);
    color: var(--cor-texto-secundario);
    border: solid 1px var(--cor-primaria);
    padding: 12px 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    font-weight: 500;
}


.link-home-link-ia a{
    font-size: 1rem;

}

.btn-links-header:hover {
    background: var(--cor-secundaria);
    transition:
        0.3s ease-in-out,
        color 0.3s ease-in-out;
}

.btn-links-header svg{
    margin-right: 2px;
    font-size: 1.2rem;
}

.links-header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.logo-header {
    width: 100px;
}

.logo-header img {
    width: 100%;
}

@media (max-width: 1080px) {
    .div-btn_search-menu {
        justify-content: end;
        gap: 20px;
    }

    .formulario-link-ia {
        width: 80%;
    }
}
@media (max-width: 980px) {
    .btn-links-header {
        padding: 8px 16px;
    }

    
.link-home-link-ia a{
    font-size: 0.8rem;

}
}

@media (max-width: 768px) {
   .logo-header{
width: 60px;
   }

.link-home-link-ia a{
    font-size: 0.7rem;

}

    .btn-links-header {
        padding: 6px 12px;
    }
}

@media (max-width: 580px) {
.header {
    height: 80px;
}



}

@media (max-width: 420px) {
    .logo-home {
        width: 80px;
    }

    .btn-links-header {
        font-size: 0.7rem;
    }
}
