.footer-moderno {
    background-color: #1a1a1a; 
    padding: 10px; 
    font-family: sans-serif;
    margin-top: 30px; 
    height: 250px;
}

.footer-conteudo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    padding-bottom: 10px;
}

.footer-marca {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-marca .logo img {
  width: 100px;
}

.footer-marca p {
    max-width: 300px;
    line-height: 1.5;
    color: #bbbbbb;
}

.footer-links h4, .footer-tech h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 0.5rem;
}

.footer-links a {
    color: #bbbbbb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #e38b06; 
}

.footer-tech p {
    color: #bbbbbb;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-bottom {
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
    color: #888888;
}