/* esta página será estilizada mobile first */

.disabled {
    color: #7a7a7a !important;
}

.footer {
    width: 100%;
    height: auto;
    padding: 40px 10px;
    background: #242424;
    color: #eeeeee;
}

.footer-conteudo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}

.footer-marca {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-marca .logo {
    /* width: 50px; */
}

.footer-links ul li {
    list-style: none;
}

.footer-links ul li a {
    color: #eeeeee;

}



.footer-links {
    margin-top: 30px;
}

.footer-links h4{
    margin-bottom: 20px;
}

.footer-bottom{
    margin-top: 40px;
}

@media (min-width: 380px) {
    .footer-marca {
        grid-column: 1 / -1;
    }

    .footer-conteudo {
        grid-template-columns: 1fr 1fr;
    }

    .footer-links-ajuda {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .footer-links-categorias {
        grid-column: 2 / -1;
    }
}


@media(min-width: 680px){
     .footer-conteudo {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-marca{
        grid-column: 1 / 2;
    }

    .footer-links-ajuda {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .footer-links-categorias {
        grid-column: 3 / -1;
    }
}