* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
    background: var(--quarta-cor);
    overflow: hidden;
}

:root {
    /* Tons de Laranja */
    --laranja-50: #fdf8f6;
    --laranja-100: #ffd0c2;
    --laranja-200: #ffb699;
    --laranja-300: #ff9166;
    --laranja-400: #fb6723;
    --laranja-450: #ee3d0767;
    --laranja-500: #ee4807;
    --laranja-600: #d64106;
    --laranja-700: #b34505;
    --laranja-800: #8a3604;
    --laranja-900: #662203;
    --vermelho: #f80c0c;

    /* Neutros / texto / borda */
    --cinza-50: #f7f7f7;
    --cinza-100: #e9e9e9a1;
    --cinza-200: #ecdfd8;
    --cinza-400: #cccccc;
    --cinza-500: #ebebeb;

    --preto-600: #424242;
    --preto-700: #333333;
    --preto-800: #252525;

    --branco: #ffffff;
}

:root {
    /* Marca / principais */
    --cor-primaria: var(--laranja-500);
    --cor-primaria-hover: var(--laranja-600);
    --cor-primaria-ativa: var(--laranja-700);

    --cor-secundaria: var(--laranja-100);
    --cor-secundaria-hover: var(--laranja-200);

    /* Fundos gerais */
    --cor-bg-principal: var(--cinza-50);
    --cor-bg-secundaria: var(--cinza-100);
    --cor-bg-card: var(--cinza-200);
    --cor-bg-destaque: var(--laranja-50);

    /* Texto */
    --cor-texto-principal: var(--preto-800);
    --cor-texto-secundario: var(--preto-700);
    --cor-texto-terciario: var(--preto-600);
    --cor-texto-inverso: var(--branco);
    --cor-texto-suave: var(--cinza-400);

    /* Bordas / divisores */
    --cor-borda-suave: var(--cinza-200);
    --cor-borda-forte: var(--cinza-400);

    --cor-alerta-info: var(--laranja-300);
    --cor-alerta-warning: var(--laranja-500);
    --cor-alerta-danger: var(--laranja-700);

    --altura-btn_input: 45px;
    --padding-btn: 10px 20px;
    --sombra-card: 1px 4px 6px #4d4d4d88;

    --border-radius-btn: 30px;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    overflow: auto;
    flex-direction: row-reverse;
}

a {
    text-decoration: none;
}

/* Remove o olho nativo de revelar senha (foco no Microsoft Edge/IE) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* Remove botões nativos de preenchimento/senha no Chrome e Safari */
input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
}

/* para seções que compartilham estilos */

.secoes {
    width: 100%;
    max-width: 1200px;
    box-shadow: var(--sombra-card);
    border-radius: 10px;
    padding: 20px 50px;
    scroll-margin-top: 25vh;
}

@media (max-width: 620px) {
    .secoes {
        padding: 20px 0;
    }
}
