.container-admin {
    width: 100vw;
    height: 100vh;
    background-image: url(/public/‎img-background-admin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.container-admin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.467);
    z-index: 1;
}

.titulo-admin,
.subtitulo-admin {
    color: var(--cor-texto-inverso);
    z-index: 2;
}

.botoes-select {
    width: 600px;
    display: flex;
    justify-content: space-around;
    z-index: 2;
    margin-top: 40px;
}

.cad-anuncio {
    background: var(--laranja-400) !important;
}

.line-inputs {
    width: 100%;
    display: flex;
    gap: 80px;
}


.container_ingredientes h4 {
    margin-left: 10px;
}

.caixa-campo-ingredientes {
    background: var(--cinza-50);
    border-radius: 10px;
    border: solid 1px var(--cinza-400);
    margin-top: 5px;
    width: 100%;
    max-height: 170px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;
    /* z-index: 10; */
}


.container_ingredientes {
    width: 100%;
        position: relative;

} 

.campo-ingredientes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.nome-campos {
    display: flex;
    width: 580px;
    justify-content: space-between;
    margin-right: 190px;
}

.ingrediente {
    width: 100%;
    display: flex;
    gap: 16px;
    margin-bottom: 12px;
}

.ingrediente input{
}

.ingrediente .grupo-input{
    width: 220px;
}


.add-ingrediente {
    width: 200px;
    grid-column: 1 / -1;
}

.ingrediente input {
    /* width: 226px; */
}

.modal-confirmacao-apagar-ingrediente{
    width: 300px !important;
    padding: 20px !important;
    text-align: center;
    border: solid 1px var(--cor-primaria);
    box-shadow: 0 0 40px ;
    position: fixed;
    top: 40px;
    left: 10px;
}

.botoes-confirmacao{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Botão de fechar o modal que nessa aparição não é necessário */
.btn-fecha-modal-admin{
    display: none !important;
}